.container {
  display: flex;
  align-items: center;

  border: 0;
  padding: 6px 24px;

  border-radius: 4px;

  background-color: #514fff;
  color: #f2f6fe;
  text-transform: uppercase;
  font-weight: 600;

  transition: background-color 0.2s;

  &:hover {
    background-color: #3333ff;
  }

  > div {
    font-size: 0;
  }

  > svg {
    margin-left: 8px;
  }
}

.error {
  background-color: #ff4848;

  &:hover {
    background-color: #ff2a2a;
  }
}
