@font-face {
  font-family: 'NunitoRegular';
  src: local('NunitoRegular'),
    url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OverpassRegular';
  src: local('OverpassRegular'),
    url('../assets/fonts/Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'TelexRegular';
  src: local('TelexRegular'),
    url('../assets/fonts/Telex-Regular.ttf') format('truetype');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #202d3c;
  color: #f2f6fe;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 16px 'TelexRegular', sans-serif;
}

h1,
h2 {
  font-family: 'NunitoRegular', sans-serif;
  font-weight: 500;
}

h3,
h4,
h5,
h6,
strong {
  font-family: 'OverpassRegular', sans-serif;
  font-weight: 500;
}

small {
  font-family: 'NunitoRegular', sans-serif;
}

button {
  cursor: pointer;
}

/* Chrome auto fill override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff !important;
  font: 16px 'Noto Sans JP', sans-serif;
}

input:-webkit-autofill::first-line {
  font: 16px 'Noto Sans JP', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #999591;
  border-radius: 16px;
}
